.navbar {
  background-color: rgb(255, 183, 101);
  width: 100vw;
  height: 60px;
  top:0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:nowrap;
}

.navbarContainer {
  padding-left: 50px;
}

.navbarButtonContainer {
  padding-right: 50px;
}
