<div class="loginBigBackground">
  <div class="loginBackground">
    <div>
      <h1>登入</h1>
      <h3>帳號</h3>
      <input
        type="text"
        placeholder="Account"
        [(ngModel)]="account"
        (input)="accountMethod()"
      />
      <h3>密碼</h3>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        (input)="passwordMethod()"
      />
      <div>
        <button (click)="submit()">提交</button>
        <button>建立帳號</button>
        <button>123</button>
      </div>
    </div>
  </div>
</div>
