<div class="loginBigBackground">
  <div class="loginBackground">
    <div>
      <h1>建立帳號</h1>
      <h3>帳號</h3>
      <input
        type="text"
        placeholder="Account"
        [(ngModel)]="account"
        (input)="accountMethod()"
      />
      <h3>密碼</h3>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        (input)="passwordMethod()"
      />
      <div class="notifyBackground">
        <h4>{{ notify }}</h4>
      </div>
      <div class="buttonBackground">
        <button (click)="submit()">提交</button>
        <button>返回</button>
      </div>
    </div>
  </div>
</div>
